.nav-link
{
    text-align: center;
    padding-bottom: 0rem;
}
.table-head-row1
{
    position: sticky;
    right: 0px;
    text-align: center;
    z-index:−2147483648;
}
.nav-link:hover
{
    background-color: darkblue;
}
.navbar
{
    margin-bottom: 0rem;
    padding-bottom: 0%;
}
.submit-btn
{
    padding-top: 10px;
    padding-bottom: 10px;
}

#crpad
{ 
    margin-top: 10px;
}

html
{
    scroll-behavior:smooth;
}
.criteria-head
{
    padding: 10px;
    padding-left: 0px;
   font-size: x-large;
}
.AHP-title
{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 23px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color:blue;
}
.tbl-container
{
    max-width: fit-content;
    max-width: fit-content;
}
.tbl-fixed
{
    overflow-x: scroll;
    overflow-y: scroll;
     height: fit-content; 
    max-height: 70vh; 
}
.table-hover
{
    border-collapse: separate;
}
.table-head
{
    position: sticky; 
    top: 0px;
     text-align: center;
}
.table-head-row
{
    position: sticky; 
    left: 0px;
     text-align: center;
}

#table_button
{
    margin-top: 20px;
}
.eigen-col
{
    background-color: black;
}